# Dependencies
node_modules/
yarn.lock
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
*.expo/

# Native (iOS & Android)
*/ios/
*/ios/build/
*/ios/Pods/
*/ios/Podfile.lock
*/ios/*.xcworkspace
*/ios/*.xcodeproj/
*/ios/.DS_Store
*/ios/.xcode.env.local

*/android/
*/android/.gradle/
*/android/.idea/
*/android/app/build/
*/android/build/
*/android/local.properties
*/android/key.properties
*/android/app/debug.keystore
*/android/.cxx/
*/android/gradlew
*/android/gradlew.bat
*/android/gradle/wrapper/gradle-wrapper.jar
*/android/gradle/wrapper/gradle-wrapper.properties

# iOS Xcode-specific files
ios/DerivedData/
ios/*.xccheckout
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/FlockRN/Supporting/noop-file.swift

# Metro bundler
.metro-health-check*
metro-cache/

# Build outputs
build/
out/

# Debug logs
*.log
debug.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local environment files
.env*
.env.local
.env.*.local
.env.development.local
.env.production.local
!.env.example

# Firebase
firebase-debug.log
firebase-debug.*

# TypeScript
*.tsbuildinfo

# Miscellaneous
*.swp
*.swo
*.lock
*.tmp
*.tmp.env
app-example/

# Editor-specific
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Google services
GoogleService-Info.plist
google-services.json

# Security and keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
FirebaseFunctions/functions/firebaseCredentials.json
